[2016-07-31 18:49] markus-becker-tridonic-com opened #23 "Please update mbed-os to have stdio baud rate configurable"

[2016-08-04 09:06] ConorPKeegan opened #24 "Can't compile using IAR for Pearl Gecko"
When compiling using mbed-CLI with IAR, this error occurs:

[code]

[2016-08-04 09:12] ConorPKeegan opened #25 "Can't export to uVision for Pearl Gecko"
When exporting to uvision for the Pearl Gecko, it is reported as not supporting that toolchain:

[code]

[2016-08-04 09:16] ConorPKeegan opened #26 "Can't compile for NUCLEO_F746ZG using IAR"
When compiling for NUCLEO_F746ZG using IAR, it reports and invalid processor type, with the following error:

[code]

[2016-08-04 09:20] ConorPKeegan opened #27 "Can't export to uVision for NUCLEO_F746ZG"
When exporting to uVision for NUCLEO_F746ZG, it is reported that the toolchain is not supported:

[code]

[2016-08-09 06:58] markus-becker-tridonic-com commented on #23
I think it is mostly this issue: https://github.com/ARMmbed/mbed-os/issues/1969 and the related 9600 occurences: https://github.com/ARMmbed/mbed-os/search?utf8=%E2%9C%93&q=serial_baud%28obj%2C+9600&type=Code

[2016-08-09 07:24] 0xc0170 commented on #23
@markus-becker-tridonic-com the best would be to move this to mbed-os repo. What's your target device?
we shall clean all of targets.

[2016-08-09 07:26] markus-becker-tridonic-com commented on #23
NUCLEO_F401RE, NUCLEO_F091RC and K64F.

Are you able to transfer this issue. Or shall I re-create?

[2016-08-09 07:27] 0xc0170 commented on #23
Please recreate, provide a simple code snippet to reproduce. Thanks

[2016-08-09 08:40] markus-becker-tridonic-com commented on #23
Moved to https://github.com/ARMmbed/mbed-os/issues/2396

[2016-08-09 08:40] #23 closed

[2016-08-09 13:47] RdaZhongyao opened #28 "Compile main.cpp failed as an test case for (K64F, GCC_ARM)"
I need a blinky test case without greentea, so create a new case "mbed-os/TESTS/integration/blinky", and copy `mbed-os-example-blinky/main.cpp` to `mbed-os-example-blinky/mbed-os/TESTS/integration/blinky/main.cpp`, then compile this case, get error:

[code]

After adding this:

[code]

no error exists.

Q:
Same file "main.cpp", different compiling methods get different results:
- Example "blinky"

[2016-08-18 09:12] MaggieMei opened #29 "compiling problem of exported project from online IDE"
I export the program mbed-os-example-blinky from online IDE to uvision5 on FRDM-K64F. When compiling. it shows the errors as below:

**\* Using Compiler 'V5.06 update 1 (build 61)', folder: 'C:\Keil_v5\ARM\ARMCC\Bin'
Build target 'mbed-os-example-blinky'
compiling main.cpp...
main.cpp(1): error:  #5: cannot open source input file "mbed.h": No such file or directory
main.cpp: 0 warnings, 1 error
".

[2016-08-18 09:20] MarceloSalazar commented on #29
Could you try MDK 5.20 with ARM Compiler 5.06 Update 3?

[2016-08-23 07:55] SYuPing commented on #29
Hi,
I have same problem with @MaggieMei ...

Here is my toolchain version:
MDK-ARM Standard Cortex-M uVision V5.13.0.0

Thanks

[2016-08-23 10:12] MarceloSalazar commented on #29
Please update to MDK 5.20 (ARM Compiler 5.06 Update 3)

[2016-08-26 14:40] 0xc0170 commented on #27
I believe the MCU is supported only by uvision5 (we should deprecate uvision4 that is not developed anymore).

[2016-08-30 21:16] usedbytes opened #30 "GCC_ARM won't link on NRF51822: cannot move location counter backwards"
Won't link when building for NRF51822 like so: (trying to build for micro:bit)

[code]

The same toolchain builds for lpc1768 and lpc11u24 fine (the only other two platforms I have).
Have also reproduced with a different (gcc 5.2.0, newlib 2.2.0) toolchain on ARMv7 built via crosstool-ng.
- OS:  Arch
- arm-none-eabi-gcc package, version 6.1.1-4
  - PKGBUILD: https://git.archlinux.org/svntogit/comm

[2016-08-30 21:47] pan- commented on #30
The target NRF51822 is not supported by mbed-os 5 at the moment.
It doesn't have enough memory to support the RTOS with the c library used in mbed OS 5.

We are working on reducing memory consumption to make mbed OS 5 available to target with more memory constraints.

[2016-08-31 08:29] usedbytes commented on #30
OK thanks. Is there any plan to either not list platforms which are not supported, or provide an indication to the user for unsupported platforms?

[2016-08-31 12:15] pan- commented on #30
It is indicated in `targets.json`: https://github.com/ARMmbed/mbed-os/blob/master/hal/targets.json

The property `release_versions` contain an array of the versions of mbed os supported by each target.

[2016-09-01 03:55] karmasLin commented on #29
In on-line compiler:
You have to import 2 libraries in online-compiler: "mbed" & "mbed-os", then export to uVision.
Furthermore, in main.cpp you must add following line before compiling in Keil MDK
`#include "rtos.h"`

[2016-09-02 07:57] karmasLin commented on #29
Refer to [All exporters broken with mbed OS 5 #2591](https://github.com/ARMmbed/mbed-os/issues/2591)
Same problem...

[2016-09-19 03:14] jsplyy opened #32 "mbed export -m K64F -i IAR"
it export iar project but compile fail.
![image 2](https://cloud.githubusercontent.com/assets/3600912/18621744/198e192e-7e5a-11e6-87ea-dbe0ea945e16.png)

[2016-09-19 07:35] 0xc0170 commented on #32
@jsplyy

Please provide more details, version of mbed-cli, mbed-os (is it from this master?), IAR version. Any valuable info that helps us to reproduce the problem

[2016-09-19 08:52] jsplyy commented on #32
mbed -cli 0.9.1
iar 7.4
mbedos example blinky

[2017-02-02 12:42] 0xc0170 commented on #32
This should be now resolved.  In case it's not ,please report

[2017-02-02 12:42] #32 closed

[2017-02-02 12:45] 0xc0170 commented on #30
Tested, works. I'll close this issue

[2017-02-02 12:45] #30 closed

[2017-02-02 12:45] #29 closed

[2017-02-02 12:46] 0xc0170 commented on #28
Is this still relevant?

[2017-02-02 12:47] #27 closed

[2017-02-02 12:47] 0xc0170 commented on #26
This should be fixed.

[2017-02-02 12:47] #26 closed

[2017-02-02 12:48] 0xc0170 commented on #25
This is fixed. tested the current master (mbed-os 5.3.4)

[2017-02-02 12:48] #25 closed

[2017-02-02 12:49] 0xc0170 commented on #24
Should be fixed.

[2017-02-02 12:49] #24 closed

[2017-02-28 11:46] #28 closed

[2017-02-28 20:05] mray19027 opened #45 "[OOB mbed-os-5.4] Doesn't run when compiled with IAR for target MTS-mDot-F411"
Does not execute - LED1 won't light up
mbed-os version: 5.4 (OOB)
Target: MTS-mDot-F411
Toolchain: IAR

[2017-02-28 20:28] mray19027 opened #46 "[OOB mbed-os-5.4] Post binary hook not run on make for target MTS_MDOT_F411RE"
## Description
Target: MTS_MDOT_F411RE
Toolchain: export make_gcc_arm
mbed-os version: 5.4 OOB
Error: Does not run application

## Details
Correctly runs post binary hook:
`mbed compile -t GCC_ARM -m MTS_MDOT_F411RE`

Does not run post binary hook and therefore will not run the application:
`mbed export -i make_gcc_arm`
`make`

[2017-02-28 21:00] mray19027 opened #47 "[OOB mbed-os-5.4] Compilation failure in uVision for MTS_MDOT_F411RE , NUCLEO_F411RE"
## Description
Target: MTS_MDOT_F411RE and NUCLEO_F411RE
Toolchain: export uvision5
mbed-os version: 5.4 OOB
Error:
[code]

[2017-03-01 16:45] 0xc0170 commented on #46
cc @mfiore02 @theotherjimmy

[2017-03-01 17:03] theotherjimmy commented on #46
This is a know limitation of all of the exporters. None of them can run post-binary hooks.

[2017-03-01 17:06] mfiore02 commented on #46
@mray19027 Yeah, it's a mess. We (MultiTech) don't recommend exporting for the mDot or Dragonfly because the bootloader complicates the issue. Instead, we suggest configuring your IDE/makefile to invoke mbed-cli to compile the application. Then you don't need to worry about any of this.

Last time I took a look at the mbed exporter, there wasn't a way to export pre-build or post-build processes &

[2017-03-02 11:07] janjongboom commented on #45
Hi @mray19027, could you report this issues against [mbed-os](https://github.com/armmbed/mbed-os)? Core engineering team does not look at this repo.

[2017-03-02 11:50] 0xc0170 commented on #46
@mfiore02 Is this documented as known-issue (present on the platform page?). Exporting should be disabled for this platform then, as not supported with a given reason.

Thanks for the detailed information.

cc @MarceloSalazar (to be aware of this limitations and we shall state that in our OOB)

[2017-03-02 11:52] 0xc0170 commented on #47
The above referenced PR 3861 fixes this issue. Will be fixed in rc2

[2017-03-02 15:27] mfiore02 commented on #46
@0xc0170 It definitely could be more clearly documented on our platform page. I will take care of that.

I agree that exporting should be disabled so these kinds of issues are avoided. Please let me know what disabling the exporter looks like and I'll be happy to make a PR.

[2017-03-02 15:35] mfiore02 commented on #46
@0xc0170 I added a warning to our platform page recommending against exporting. Should have done that a lot sooner.

[2017-03-02 15:58] 0xc0170 commented on #46
@theotherjimmy can you please help?

[2017-03-02 19:09] mbartling commented on #47
Same issue with efm32pg_stk3401 @theotherjimmy

[2017-03-02 19:21] theotherjimmy commented on #46
I can create a list of "working" post-build steps. These are "working" in the sense that the exporters either flash at an offset (and the target has a soft-device) or they know about the soft-device and can merge it. After that, I would disable exports for all not-supported post-build scripts. This should get you what you want.

[2017-03-02 20:22] theotherjimmy commented on #46
https://github.com/ARMmbed/mbed-os/pull/3875

[2017-03-02 20:24] theotherjimmy commented on #46
@0xc0170 @mray19027 @mfiore02  The aforementioned PR should resolve this issue by preventing export for targets we know will fail via post-binary hooks.

[2017-03-03 14:50] #47 closed

[2017-03-03 20:44] mfiore02 commented on #46
LGTM! Thanks @theotherjimmy!

[2017-03-03 20:46] theotherjimmy commented on #46
I'm quite happy with the implementation, actually. So yeah LGTM!

[2017-03-05 02:44] danielwegener commented on #30
Having the same issue here. Took mbed-os-example-blinky, made it build for my JLink/ BLE400/[Core51822](http://www.waveshare.com/wiki/Core51822).

Then I added a single line (`Serial pc...`) which in turn would include the Serial driver:
[code]
And I end up with
[code]
@0xc0170 Could you please clarify what part of the issue is "closed" or "works"?

The mbed page pretty clearly announces support f

[2017-03-06 21:09] MarceloSalazar commented on #45
Issue fixed here https://github.com/ARMmbed/mbed-os/pull/3875 and should be available in mbed OS 5.4.1

[2017-03-14 13:22] 0xc0170 commented on #45
Since 5.4.1, this export wont be allowed.

[2017-03-14 13:22] #45 closed

[2017-03-14 13:22] 0xc0170 commented on #46
Since 5.4.1, this export wont be allowed.

[2017-03-14 13:22] #46 closed

[2017-03-17 06:05] janjongboom commented on #45
Also Multitech only provides blobs of their LoRa MAC layer for GCC and ARMCC, so IAR was always a bit useless.

[2017-06-08 22:45] mray19027 opened #62 "[OOB 5.5.0] REALTEK_RTL8195AM compiles, but fails to flash in uvision"
REALTEK_RTL8195AM compiles in uvision, but fails to find the correct target to flash to.

mbed OS: `92fbf2a9b3988d430482fc25a6077f2462e2a634`
mbed CLI version: `1.1.1`

[code]

[2017-06-08 23:00] mray19027 opened #63 "[OOB 5.5.0] REALTEK_RTL8195AM export make_gcc flash failure"
Flashing a binary compiled with the makefile exported from `make_gcc_arm` times out for REALTEK_RTL8195AM

mbed OS: `92fbf2a9b3988d430482fc25a6077f2462e2a634`
mbed CLI version: `1.1.1`

Command to reproduce:
[code]

Fail message:
[code]

Daplink details:
[code]

[2017-06-09 10:38] 0xc0170 commented on #62
cc @Archcady @theotherjimmy

[2017-06-09 14:13] theotherjimmy commented on #62
@mray19027 @0xc0170 That's the expected behavior of a "generic" export. The target does not have a CMSIS PACK associated with it.

[2017-06-09 14:23] #62 closed

[2017-06-12 15:09] sg- commented on #63
Does this has a post build hook that is needed? It might not be compatible with exporters without extra special tooling.

[2017-06-12 19:48] brandonboesch opened #64 "make_iar throwing errors after running make"
After exporting to make_iar, and then running make, the following error appears:

![image](https://user-images.githubusercontent.com/16062082/27052101-2918626e-4f7e-11e7-8d43-79d7e5697dc3.png)

[2017-06-13 03:37] toyowata opened #65 "[OOB 5.5.0] NUCLEO_F767ZI gcc makefile binary not working"
### Description
- Type: Bug
- Priority: Minor

---------------------------------------------------------------
## Bug

**Target:**
NUCLEO_F767ZI

**Toolchain:**
GCC_ARM

**Toolchain version:**
6.3.1 20170215

**mbed-cli version:**
1.1.1

**Expected behavior**
blinky example should work.

**Actual behavior**
blinky example did not work (LED1 was not blinking).

**Steps to reproduce**
[code]

Build

[2017-06-13 13:27] 0xc0170 commented on #64
@brandonboesch What is htte platform? is make in your path?

[2017-06-13 13:39] 0xc0170 commented on #64
If I run make iar locally, I get this linking error for KW24D:

[code]

[2017-06-13 20:28] brandonboesch commented on #64
I am running on a FRDM-KW24D, in cmd.exe on windows 10 machine.  I added gnuwin32 to my windows machine and added it to my path variable so that I can call make.  Make works on another example using make_gcc_arm, but I have not tested make_iar with any other examples.  IAR is licensed and working on my machine for compiling as well.

[2017-06-14 11:03] 0xc0170 commented on #65
cc @bcostm @adustm @LMESTM @jeromecoutant

[2017-06-14 11:58] 0xc0170 commented on #63
cc @Archcady

[2017-06-14 12:09] LMESTM commented on #65
@toyowata @0xc0170 what is mbed-os-5.5.0-rc1-oob ?

[2017-06-14 12:19] 0xc0170 commented on #65
release candidate 1 - out of box testing - just use 5.5 branch to retest this, should be able to reproduce

[2017-06-14 14:44] brandonboesch commented on #64
I resolved this issue.  I had to update my path variable to point to IAR's bin.  Also, the application did not run properly until I updated the KW24D's bootloader firmware to the version found here:

\\venus.cambridge.arm.com\Groups\DevSys\mbed\DAPLink\releases\uvision_0243_2f498feb_kw24d\k20dx_frdmkw24d_if_crc_legacy_0x8000.bin

[2017-06-16 14:28] mray19027 commented on #63
@kegilbert Did we get any resolution from this?

[2017-06-19 10:43] 0xc0170 commented on #65
@LMESTM Have you had a chance to reproduce this issue?

[2017-06-19 10:44] 0xc0170 commented on #64
Thanks for the update. If there is any msg we could do better (like path missing or anything) please create an issue on mbed-os. I'll close this one here

[2017-06-19 10:44] #64 closed

[2017-06-19 10:45] 0xc0170 commented on #63
Bump

Any update? I haven't heard yet.

[2017-06-27 00:04] kegilbert commented on #63
Sorry for the late reply! The REALTEK_RTL8195AM target is not supported in the exporter since https://github.com/ARMmbed/mbed-os/commit/a5cc8ef446a10619bfde0fe9e272a37e56de9213 from my understanding. With the latest master I get the target is not supported error at any rate.

[2017-06-28 11:07] MarceloSalazar commented on #65
@LMESTM could you please comment?

[2017-06-28 11:23] 0xc0170 commented on #63
Thanks @kegilbert .IF this is not yet tracked, this should be moved to mbed-os repository as a feature request.

[2017-06-29 15:01] LMESTM commented on #65
@MarceloSalazar @0xc0170 @toyowata
Indeed issue was reproduced. Quick debugging was showing similar behavior to some of the issues we've debugged in MBED after move to CMSIS5.
As several of those errors were solved in the past 2 weeks and were not related to STM targets specifically, I tried a more recent version
[code]
And this works !
So I'd suggest to close this issue ...

[2017-06-29 15:07] #65 closed

[2017-08-14 13:52] 0xc0170 commented on #63
I am closing this as above, not supported currently

[2017-08-14 13:52] #63 closed

[2017-08-27 17:59] baijund opened #78 "Delay too long on LPC1768 with default GCC profile"
When compiling using the default (develop) profile on the mbed cli, the LED toggles every ~5 seconds instead of the desired 0.5 seconds. When building using the debug profile, the program functions as expected. This is using the GCC toolchain.

[2017-08-30 09:33] 0xc0170 commented on #78
This might be related - https://github.com/ARMmbed/mbed-os/issues/4815 ?

[2017-08-30 20:28] baijund commented on #78
Updating the FW fixed the issue. Thanks!

[2017-08-30 20:28] #78 closed

[2017-09-13 16:44] dhwalters423 opened #81 "mbed-os.lib not pointing to mbed 5.6.0 release candidate in branch mbed-os-5.6.0-oob"
It appears mbed-os.lib is not pointing to the correct commit number that is tagged as the mbed OS 5.6.0 release candidate in the branch mbed-os-5.6.0-oob. This is causing the CLI and mbed-ls tools to believe it has checked out the correct branch when running ``mbed update mbed-os-5.6.0-oob`` but the underlying mbed-os folder is still reporting as being checked out to mbed-os-5.5.0.

For example, w

[2017-09-13 17:43] MarceloSalazar commented on #81
@dhwalters423 thanks for raising this! I'm also able to reproduce

@sg- @adbridge are you ok if we update all examples to suggested commit? (a4056fb8bf3ee10b8e037d332f8fbd0c68169ef1)

[2017-09-13 18:30] MarceloSalazar commented on #81
@dhwalters423 fyi @adbridge has re-created the branches using this name: mbed-os-5.6-oob
I've verified and works ok. OOB spreadsheet updated.

[2017-09-13 18:30] #81 closed

[2017-09-14 21:40] vijhar01 opened #83 "Compilation failure with IAR 8 with NUCLEO_F429ZI target"
**PS C:\Users\vijhar01\mbed-os-example-blinky> mbed detect**

[mbed] Detected NUCLEO_F429ZI, port COM6, mounted D:
[mbed] Supported toolchains for NUCLEO_F429ZI
+---------------+-----------+-----------+-----------+-----------+-----------+
| Target        | mbed OS 2 | mbed OS 5 |    ARM    |  GCC_ARM  |    IAR    |
+---------------+-----------+-----------+-----------+-----------+-----------+
| NUC

[2017-09-15 08:04] MarceloSalazar commented on #83
cc @adbridge

[2017-09-15 10:47] adbridge commented on #83
Strange this build in the pr for IAR 8 -
[code]

[2017-09-15 10:48] adbridge commented on #83
@vijhar01  What platform did you build on and what exact version of IAR did you use?

[2017-09-15 11:57] adbridge commented on #83
I have just reproduced this using the windows version of IAR workbench -
IAR ANSI C/C++ Compiler V8.11.3.13950/W32 for ARM
Running in gitbash on windows 10.

@shrikant I assume we are running the linux version in the ci ?

[2017-09-15 12:03] vijhar01 commented on #83
Hi Anna,

Here are my test environment details:

Build environment – Windows 10
IAR version - 8.11.2.13589 (8.11.2.13589)

Thanks, Viji

From: Anna Bridge [mailto:notifications@github.com]
Sent: Friday, September 15, 2017 6:57 AM
To: ARMmbed/mbed-os-example-blinky <mbed-os-example-blinky@noreply.github.com>
Cc: Viji Hariharan <Viji.Hariharan@arm.com>; Mention <mention@noreply.github.com>
Subject:

[2017-09-15 13:36] adbridge commented on #83
I've built with latest mbed-os master and that builds ok!

[2017-09-15 14:01] adbridge commented on #83
mmm ok so I now did this -

[mbed] Adding library "mbed-os" from "https://github.com/ARMmbed/mbed-os" at rev #a4056fb8bf3e

and this worked for me.
The first time I tried it I did not remove the previous mbed-os. I'm wondering if you had leftover artifacts ?

@vijhar01 Could you please re-try this but following the above steps ?

[2017-09-18 07:55] andrewc-arm opened #84 "NUCLEO_L476RG led1.read() shows wrong value"
Hi,

NUCLEO_L476RG led1.read() shows wrong value.
This is the blinky code with logs.
[code]

This is the output.

[code]

The expected output is following.
[code]

I tested with following mbed-os-example-blinky version but failed.
[code]

Then I changed mbed-os to mbed-os-5.6 branch and the result is same.

Thanks,

[2017-09-18 08:00] andrewc-arm commented on #84
Sorry. Wrong posting. Moving to mbed-os.

[2017-09-18 08:00] #84 closed

[2017-09-18 17:54] vijhar01 commented on #83
That worked.
I was able to compile successfully with IAR

Documentation enhancement:

Publish examples for export into iar 8 workspace.

I ran the following and did not know where to look for the exported iar project

C:\mbed-os-example-blinky> mbed export -m NUCLEO_F429ZI -i IAR
Scan: .
Scan: FEATURE_LWIP
PS C:\mbed-os-example-blinky>

I found an mbed-os-example-blinky.eww file in the current dir

[2017-09-18 18:36] vijhar01 opened #85 "make_iar test failure"
Here are the details:
[code]

[2017-09-19 20:47] MarceloSalazar commented on #83
@AnotherButler FYI find here some feedback on docs for exporters

[2017-09-19 21:29] AnotherButler commented on #83
Thanks for letting me know @MarceloSalazar I've created a JIRA issue for this.

[2017-09-20 11:51] 0xc0170 commented on #85
You got IAR path set up, is that true that this is used for make project? I would assume based on the error, that your path does not have IAR executables in your paths (run iccarm from your console to get the same error?) ?

cc @theotherjimmy

[2017-09-20 12:26] #83 closed

[2017-09-20 13:56] theotherjimmy commented on #85
@vijhar01 @0xc0170 All makefile exporters require that the compiler is reachable on the shell (in your PATH environment variable). Could we make this more clear in the handbook?

[2017-09-20 13:58] theotherjimmy commented on #85
@vijhar01 When reporting issues, it can help us track down what went wrong if you fill out more of the template. You did provide the mbed-os version, example and actual error in the shell snippet you posted.

[2017-09-22 09:30] dhwalters423 commented on #85
Commenting for tracking- I am also encountering this path issue.

[2017-09-23 12:05] MarceloSalazar commented on #85
@AnotherButler please consider this enhancement

[2017-09-23 20:53] dhwalters423 commented on #85
@theotherjimmy Looks like that did the trick :)

[2017-09-26 09:27] LMESTM opened #86 "Export fails when passing `-c`"
#description

I imported this example in my environment
`mbed` import `mbed-os-example-blinky`

Compiled ok:
` mbed compile -t IAR -m NUCLEO_L476RG `

Trying export fails:
[code]

Windows OS, with MINGW64

[2017-09-26 10:07] 0xc0170 commented on #86
I reproduced the issue. The traceback is caused by `-c` argument , and build is not there. This should be handled normally.

cc @theotherjimmy

[2017-09-26 14:08] theotherjimmy commented on #86
Agreed. Let me see if this is cross platform.

[2017-09-26 14:10] theotherjimmy commented on #86
Nope. Seems like it's a Windows only issue. Sorry.

[2017-09-27 11:05] 0xc0170 commented on #62
What should be behaviour for this? Is it expected to work with generic flash algo? shouldn't this when exporting issue a warning that device is missing flash algo, generic one used ?

[2017-09-27 14:14] theotherjimmy commented on #62
@0xc0170

That the flash may not work correctly

Nope. It's expected that the user will do the remaining setup.

Probably, but the website will just silently eat the warning and do nothing with it.

[2017-09-28 16:03] theotherjimmy commented on #86
@LMESTM Could you open an issue for this on mbed-os? This is a problem with all `mbed export -c` which is part of the Mbed OS tools.

[2017-10-09 09:07] 0xc0170 commented on #86
@LMESTM bump

[2017-10-09 09:40] LMESTM commented on #86
Done:
https://github.com/ARMmbed/mbed-os/issues/5276

[2017-10-09 09:54] #86 closed

[2017-11-01 15:17] ashok-rao opened #92 "[RTL8195AM-Ameba]: On-board LED's not mapped? Blinky not working."
@samchuarm , I was trying to run blinky on RTL8195AM-Ameba [DEV01_1V0] target and I could not find the mapping for the on-board LED's to work with blinky. I found from the pin mapping here: https://github.com/ARMmbed/mbed-os/blob/master/targets/TARGET_Realtek/TARGET_AMEBA/TARGET_RTL8195A/PinNames.h#L200  that LED's are mapped to the Arduino headers?
Can you please advice about on-board LED pin map

[2017-11-01 17:10] ashok-rao commented on #92
@Archcady .. could you please let me know if on-board LED's are indeed mapped out to be USER LED's or not? I also tried physically connecting an LED between D8 on the Arduino header and GND, and it still seems to be not working. I'm using Mbed OS 5.6.3. Thanks.

[2017-11-02 03:53] Archcady commented on #92
The on-board LED's are reversed for other usages, users need to connect GPIO with their own LEDs.

[2017-11-02 09:53] ashok-rao commented on #92
Wiring the LED between D8 and Vcc (3.3V) on the Arduino headers works with blinky! Thank you. Closing this issue now.
Thanks @Archcady and @samchuarm

[2017-11-02 09:53] #92 closed

[2017-12-01 09:08] JanneKiiskila opened #96 "Blinky example should print something"
As there are multiple boards that do not actually have an user controllable LED, those should just print "Blink!" or something - or actually all boards could print something, say every 10 times it's blinked the (imaginary) LED.

[2017-12-01 09:47] 0xc0170 commented on #96
Can you list those boards please?

[2017-12-02 09:26] JanneKiiskila commented on #96
Well, try out the REALTEK_RTL8195AM for example.

It has plenty of LEDs, just none of the seem to be available for the "user" side.

[2017-12-03 12:42] JanneKiiskila commented on #96
PR created; https://github.com/ARMmbed/mbed-os-example-blinky/pull/97

[2017-12-04 06:37] JanneKiiskila commented on #96
Raised also an issue towards Realtek; https://github.com/ARMmbed/mbed-os/issues/5642

[2017-12-06 09:57] MarceloSalazar opened #99 "Misleading output about VK_RZ_A1H and RZ_A1H in 5.7"
Branch: mbed-os-5.7.0-oob

It seems VK_RZ_A1H and RZ_A1H (Cortex-A) are not supported.

We should update the message "**Will be supported in mbed OS 5.6**"  with something like "Will be supported in a future version of Mbed OS"

@0xc0170

[code]

[2017-12-06 10:36] toyowata commented on #99
@MarceloSalazar
The PR is still in review here:
https://github.com/ARMmbed/mbed-os/pull/5628

[2017-12-06 12:09] 0xc0170 commented on #99
Thanks @toyowata .

We should update the message "Will be supported in mbed OS 5.6" with something like "Will be supported in a future version of Mbed OS"

The message comes from mbed-os, it should be requested there, it's not part of this example.

[2017-12-06 12:26] MarceloSalazar commented on #99
@theotherjimmy please have a look. We'll appreciate if you could patch this on Mbed OS.

[2017-12-08 11:50] gggekov opened #100 "mbedls not working on Realtek RTL8195AM"
`mbedls` and `mbed detect` don't work on the Realtek RTL8195AM board(https://os.mbed.com/platforms/Realtek-RTL8195AM/).

I connect the board over USB, it appears as USB mass storage device but it's not recognised by `mbedls`.
Here's the output that I get on Windows
[code]

How can I fix this issue?

Thanks,
George

[2017-12-08 11:56] MarceloSalazar commented on #100
This is what I get on OSX:

[code]

[code]

[code]

@theotherjimmy @bridadan please have a look

[2017-12-08 12:03] gggekov opened #101 "Realtek RTL8195AM DAP firmware link unavailable"
The DAPLink firmware update link for the RTL8195AM(https://os.mbed.com/platforms/Realtek-RTL8195AM/) board is giving error 404.

Furthermore, I can't register on the realtek website(https://www.amebaiot.com/wp-login.php?action=register). I am getting an error "ERROR: Couldn’t register you… please contact the webmaster !"

Can you please fix this issue?

Regards,
George

[2017-12-08 13:15] 0xc0170 commented on #100
whats the version of realtek interface (daplink) ?

[2017-12-08 15:31] adbridge commented on #101
@c1728p9 Any ideas ?

[2017-12-08 15:36] MarceloSalazar commented on #101
@gggekov you need to register and login to be able to download the binary.
I've managed to do it and confirm works fine.

[2017-12-08 15:36] #101 closed

[2017-12-08 15:39] bridadan commented on #100
@MarceloSalazar Could you also please run this with `mbedls --debug` and post the log? Thanks!

[2017-12-08 16:24] gggekov commented on #100
I changed the version of the DAPLink firmware and now it works as expected.
[code]
mbedls functions correctly on MAC as well.

[2017-12-08 16:28] bridadan commented on #100
@gggekov Good to here that fixed your issue!

However, if you still have a realtek board with the old version of the firmware, could you please still give us the log output with `mbedls --debug`. mbedls shouldn't traceback no matter what you have plugged in and we'd like to fix that bug. Thanks!

[2017-12-08 16:29] MarceloSalazar commented on #100
The problem goes away on both Windows and Mac when updating the interface FW.

However, for boards that come from factory with default FW, this is a problem.

See logs attached.

[log.txt](https://github.com/ARMmbed/mbed-os-example-blinky/files/1543236/log.txt)

[2017-12-08 16:31] bridadan commented on #100
Ah perfect, thanks so much!

[2017-12-08 16:43] bridadan commented on #100
@MarceloSalazar feel free to close this again

[2017-12-08 17:01] gggekov opened #102 "Online compiler error for the Realtek RTL8195AM board"
I'm unable to compile blinky in the online compiler for the Realtek RTL8195AM board. I'm on the `mbed-os-5.7.0-oob` branch.  I'm getting Error L6236E. See the screenshot for the complete error message
![image](https://user-images.githubusercontent.com/31919465/33776562-b256eb34-dc39-11e7-9dde-5cd3cb05d911.png)

Can you please fix this issue?

Regards,
George

[2017-12-08 17:04] MarceloSalazar commented on #102
@theotherjimmy

[2017-12-08 17:08] theotherjimmy commented on #102
I have only seen this happen when the linker garbage collected _ALL_ code. The fact that you have a linker script implies that you have mbed-os, so I don't know what else to try here.

[2017-12-08 17:14] gggekov commented on #102
It compiles fine with ARM in mbed cli. There should be a way to compile it correctly in the online IDE as well.

[2017-12-08 17:29] gggekov opened #104 "Exporters not supported for Realtek RTL8195AM"
I'm not able to export the blinky project for the Realtek Ameba board.
I'm using Windows10 and I'm getting
`C:\Users\geogek01\Documents\mbedCLIproj\mbed-os-example-blinky [mbed-os-5.7.0-oob ≡ +3 ~1 -0 !]> mbed export -i make_iar -m realtek_rtl8195am
usage: project.py [-h] [-m MCU] [-i IDE] [-c] [-p PROGRAM] [-n PROGRAM] [-b]
                  [-L] [-S [{matrix,ides}]] [-E] [--source SOURCE_DIR]

[2017-12-08 17:30] MarceloSalazar commented on #104
@theotherjimmy another one ;-)

[2017-12-08 17:32] theotherjimmy commented on #104
@gggekov The Realtek board has a post build script that the tools cannot replicate. @MarceloSalazar Please stop "testing" these not supported combinations.

[2017-12-08 17:35] MarceloSalazar commented on #104
@theotherjimmy sorry we were not aware of this issue (not in the known-issue list).

@adbridge can we add this to the known issue list please?

[2017-12-08 17:41] theotherjimmy commented on #104
This is not a known issue. It's not supported. @MarceloSalazar This is what the support matrix looks like for exporters:
[code]
 Do you want to add the fact that none of the ARCH boards (except the ARCH_PRO) don't support IAR to the list of know issues as well, or how about that MCUXpresso supports only NXP products (and then only some of them)? I don't think that adding all of this information to

[2017-12-08 17:47] MarceloSalazar commented on #104
We aim to add more information over time about platform support and issues with mbed tools.
Hiding issues don't help to provide a good UX.

@adbridge let's discuss next week to find the best way to document this.

[2017-12-08 17:54] theotherjimmy commented on #104
@MarceloSalazar I don't see how this is being hidden. The error message was very clean about what went wrong: The target is not supported by the exporter.

[2017-12-11 14:03] adbridge commented on #100
@MarceloSalazar Can this be closed then ?

[2017-12-11 14:23] jamesbeyond opened #105 "This GettingStarted.html generated by "mbed export" redirect to a broken documentation page"
I followed the guide to run "mbed export -m K64F -i uvision" command.
the mbed cli created a "GettingStarted.html" in my local working directory.
By double click on the HTML file, this redirect me to "https://os.mbed.com/docs/v5.6/tools/exporting.html/"
Which is not a very well formatted documentation page, and all the URL links on that page had broken

[2017-12-11 14:40] MarceloSalazar commented on #105
@theotherjimmy please have a look

[2017-12-11 14:42] 0xc0170 commented on #105
@AnotherButler I can fix this if I know where it should point it (did the link changed) ?

[2017-12-11 15:20] AnotherButler commented on #105
@0xc0170 The problem with that link is the slash at the end. https://os.mbed.com/docs/v5.6/tools/exporting.html formats correctly. If you delete the slash, I think it should be OK.

[2017-12-11 15:22] adbridge commented on #104
Maybe this information should be in the exporters section of the online documentation ? I.e. the matrix of support.....

[2017-12-11 15:38] 0xc0170 commented on #105
Thanks, sending PR now :)

[2017-12-12 11:07] MarceloSalazar commented on #100
Please let us verify that the fix in PR https://github.com/ARMmbed/mbed-ls/issues/276 solves this problem. Thanks!

[2017-12-12 12:25] #99 closed

[2017-12-12 12:41] adbridge commented on #104
@AnotherButler WRT my comment above - thoughts ?

[2017-12-12 15:40] AnotherButler commented on #104
I would have thought this content would be a better fit for the platforms page that lists all of the boards: https://os.mbed.com/platforms/

[2017-12-13 12:05] adbridge commented on #102
@theotherjimmy what is the status of this ? Do we think it is a real problem in the tools that may need to be a known issue ?

[2017-12-13 13:51] theotherjimmy commented on #102
@adbridge The online compiler adds the target name between the basename and the extension of the file, that is:

 line-edness | Source | Obj. file
-------------|--------|------------
offline | `mbed_retarget.cpp` | `mbed_retarget.o`
online | `mbed_retarget.cpp` | `mbed_retarget.RTL8195AM.o`

The Realtek scatter file includes a match for a specific object file with the format `*<filename>.o`, and w

[2017-12-14 08:53] samchuarm commented on #102
@ARMmbed/team-realtek

[2017-12-14 15:18] adbridge commented on #102
@theotherjimmy @samchuarm If this has never worked in the online compiler it shouldn't even have mbed enabled status.... This should be removed until it is fixed

[2017-12-15 02:27] tung7970 commented on #102
@theotherjimmy @ARMmbed/team-realtek Hi, the quick fix is to rewrite the match condition from

*<filename>.o to *<filename>*.o
e.g.
*rtl8195a_init.o (+RO) => *rtl8195a_init*.o (+RO)

Then, the scatter file should works for both online and offline compilers.

[2017-12-15 02:35] yangkunming99 commented on #102
@tung7970, thanks for the comment. Is there any way we can force FIRST in c file instead of scatter file?

[2017-12-15 03:33] Archcady commented on #102
Hello @samchuarm can I send you the changes for the online compiler once and when you confirm it is working, ill raise a PR immediately?

[2017-12-15 06:26] tung7970 commented on #102
@yangkunming99 Unfortunately, placement is determined by linker.

[2017-12-15 18:08] MarceloSalazar commented on #104
Internal requirement: IOTPREQ-2437

[2017-12-20 15:55] 0xc0170 commented on #105
This was fixed

[2017-12-20 15:55] #105 closed

[2017-12-20 15:56] 0xc0170 commented on #104
Referenced isse on mbed OS as tracking issue, this can be closed.

[2017-12-20 15:56] #104 closed

[2018-03-19 15:15] cargro opened #116 "mbed documentation does not include information on how to use a specific revision"
Follow instructions on

https://os-doc-builder.test.mbed.com/docs/latest/tutorials/quick-start-online.html

Need to use 5.8 RC 2 for OOB test.

Documentation needs to include instructions to import from URL:

![image](https://user-images.githubusercontent.com/36272895/37604090-18469078-2b88-11e8-823b-f646a17b822b.png)

The going to revisions, noting that current revision is shown in bold:

![image

[2018-03-19 15:16] 0xc0170 commented on #116
@AnotherButler Can you review?

[2018-03-19 21:24] AnotherButler commented on #116
We have this information in our detailed tutorial about using the Online Compiler: https://os-doc-builder.test.mbed.com/docs/development/tutorials/forking-a-repository.html

I don't know that we need to duplicate it in the quick start, which is supposed to be a quick introduction to Mbed OS and our tools.

[2018-03-28 13:53] 0xc0170 commented on #116
Thanks @AnotherButler

@cargro I'll close this as resolved. Please open if this needs further work.

[2018-03-28 13:53] #116 closed

[2018-03-28 13:56] 0xc0170 commented on #102
Hi, this should be resolved via referenced PR above (see mbed-os issue 5626)

[2018-03-28 13:56] #102 closed

[2018-03-28 13:57] 0xc0170 commented on #100
Resolved?

[2018-03-28 13:58] #100 closed

[2018-03-28 14:07] 0xc0170 commented on #96
Realtek fixed their documentation, this should be resolved. This example blinks only

Thanks for the report for realtek

[2018-03-28 14:07] #96 closed

[2018-03-28 14:09] 0xc0170 commented on #85
Not connected to this example, if this still needs further documentation update about compiler path, please create an issue in Handbook.

[2018-03-28 14:09] #85 closed

[2018-04-04 15:30] drvrh opened #118 "Compile problem"
Hello
when I compile mbed-os-example-blinky

`mbed compile -t GCC_ARM -m NUCLEO_L152RE -c `

get error:

[code]

My mbed config --list look like this:

[code]
In mbed_settings.py I set:
[code]
I tried with new gcc (v7xxx) but I have the same problem.
Where is the problem?

[2018-04-06 15:32] 0xc0170 commented on #118
Can you run it manually with the defined path ? For instance run `arm-none-eabi-gcc --version` command?

[2018-04-11 07:11] 0xc0170 commented on #118
IF this problem persists, please ask in mbed OS forum or in mbed OS github

[2018-04-11 07:11] #118 closed

[2018-04-11 07:15] drvrh commented on #118
Sorry I forgot answer.
Problem in global PATH. When I added new environment in gloabl path (debian) then works.

[2018-06-05 08:15] toyowata opened #124 "[Mbed-OS 5.9 OOB] RZ_A1H doesn't work with ARM build"
## Bug

**Target**
GR-PEACH and GR-LYCHEE

**Toolchain:**
ARM

**Expected behavior**
The build binary works on the GR-PEACH/LYCHEE target.

**Actual behavior**
No LED blinky on the target.  No crash log reported.

**Steps to reproduce**
[code]

**Version hash**
[code]

**Other information**
* Other build (GCC_ARM and IAR) works fine.
* Last release version (mbed-os-5.8.5 or latest release tag) wor

[2018-06-05 09:43] MarceloSalazar commented on #124
FYI @adbridge

[2018-06-06 02:02] toyowata commented on #124
```--profile=debug``` build prevents the issue.  Its may be optimization related problem.

[2018-06-06 15:56] ciarmcom commented on #124
ARM Internal Ref: MBOTRIAGE-514

[2018-06-12 13:58] 0xc0170 commented on #124
Thanks for reporting. This is a duplicate, already referenced above . I'll close this

[2018-06-12 13:58] #124 closed

[2018-08-10 21:56] Navis-Raven opened #132 "This example does not work after exporting on Keil µVision 5"
The example works well on Arm mbed Online Compiler but after exporting on Keil and building, it says at least two errors:

1) /filer/workspace_data/exports/8/8bbbb9b5d0fe7814b65b507b54bb7d92/mbed-os-example-blinky/mbed_config.h contains an incorrect path

![image](https://user-images.githubusercontent.com/15887222/43982848-15afc4f6-9cf8-11e8-8583-372edaa3f1a6.png)

2) After building it make at lea

[2018-08-10 23:52] ciarmcom commented on #132
ARM Internal Ref: MBOTRIAGE-1514

[2018-08-14 16:55] Navis-Raven commented on #132
It is the same issue on nRF52-DK as well as on STM32 Discovery kit IoT node. So we can't use Keil for importation of Mbed projects : This is a major issue !

![image](https://user-images.githubusercontent.com/15887222/44105939-8009563e-9ff3-11e8-9df5-ed9ac50b852d.png)

[2018-08-14 18:27] cmonr commented on #132
@Navis-Raven Have you tried using mbed-cli to export mbed-os-example-blinky to uVision 5?
It's strange that this isn't working for you considering we explicitly test exporting examples to uVision 5.

[2018-08-14 18:32] Navis-Raven commented on #132
I have a similar issue while trying to use it with IAR IDE for Arm 8.30.1 (and for STM32 Discovery kit IoT node). Similar issue, it does not compile, and we have also 145 errors. This issue is quite annoying we cannot go anywhere else with this (changing the hardware or the IDE does not change anything). (I'm on Windows 7)

![image](https://user-images.githubusercontent.com/15887222/44110761-e0fbe

[2018-08-14 18:38] Navis-Raven commented on #132
@cmonr
I didn't unederstand what mbed-cli is used for, and its usage is more complex. Adding to that the installation of mbed-cli crashed at the end of it, so, I decided to uninstall it.

I opened this issue here about mbed-cli installation problem
https://github.com/ARMmbed/mbed-cli/issues/733

[2018-08-15 01:49] Navis-Raven commented on #132
It does not work on VSCode (ARM-GCC) either but not for the same reason, I have to open a new issue.

At this time I have no IDE option to run mbed API for any of these two hardware (nRF52-DK and STM32 Discovery kit IoT node)

[2018-08-15 02:39] Navis-Raven opened #134 "Blinky example export encounter several issues on VSCode"
Before, all of that I've installed
VSCode,
gcc-arm-none-eabi-7-2018-q2-update-win32-sha2,
pyOCD (with pip)
C/C++ plugin (by Microsoft)  for VSCode

And as described here https://os.mbed.com/docs/v5.9/tutorials/visual-studio-code.html

I followed these instructions:
Exporting a project/Online Compiler
Configuring the debugger

But at this step "Open the .vscode/launch.json file"
(1) There is the fi

[2018-08-15 02:49] Navis-Raven commented on #134
So we have about 6 issues here at once !

[2018-08-15 03:27] cmonr commented on #132
@Navis-Raven Would you be able to check if this works with earlier releases and/or different targets?

[2018-08-15 03:39] Navis-Raven commented on #132
I'm working only with earlier releases, because I've just installed these tools last week in order to try them.

As you can see I've tried with two different targets and I have similar issues. I have no more Arm based Target.

[2018-08-15 03:51] ciarmcom commented on #134
ARM Internal Ref: MBOTRIAGE-1522

[2018-08-24 16:34] Navis-Raven commented on #132
Some additionnal info Keil µVision 5 with nrF52DK
![image](https://user-images.githubusercontent.com/15887222/44596409-4524b280-a7cc-11e8-8cad-f692b4eaf674.png)

[2018-08-27 07:50] 0xc0170 commented on #132
Hi, I will review the 2 issues regarding exporters, and will report back the status.

[2018-09-07 16:54] theotherjimmy commented on #132
@Navis-Raven The workaround is to change the path of "mbed_config.h" to be in the root of your project. I'm looking at why you're getting the filer path within your project.

[2018-09-18 14:01] 0xc0170 commented on #134
`make` is not part of GCC ARM installation. You need to have that installed separately.

Other issues seems like a problem in the documentation and vs code exporter itself

@janjongboom Can you review?

[2018-09-19 11:14] janjongboom commented on #134
@0xc0170  Indeed Make is not part of GCC. If the '.vscode' folder is not present then that's a bug in the exporter, because it needs to have created this. @theotherjimmy

[2018-09-21 18:31] yennster commented on #132
Hey @theotherjimmy didn't we talk about this issue with the online compiler the other day?

[2018-09-21 18:33] yennster commented on #132
@theotherjimmy Here's the GitHub issue we were talking about: https://github.com/ARMmbed/mbed-os/issues/7866

[2018-09-24 10:50] ConradBraam commented on #132
I am pretty sure that I'm watching this git issue only because I raised a jira on it, just recently. Is this best done in jira?

[2018-09-26 11:52] Matzone77 opened #137 "Export "not supported" even though it is in matrix"
Hi

When I try to run command:
    mbed export -i vscode_gcc_arm -m DISCO_F769NI --profile ..\mbed-os\tools\profiles\debug.json
I get:
    "project.py: error: DISCO_F769NI not supported by vscode_gcc_arm"
even though the supported boards matrix says it should be supported.

/Anders

[2018-09-26 12:20] 0xc0170 commented on #137
I've just updated to 5.10.0, and it does not fail, please test or provide a version where it fails

[2018-09-26 13:01] Matzone77 commented on #137
Ok, so how do I know which mbed os version I am using?

I did remove my existing mbed-os and imported it again, using "mbed import", I would guess I now have the latest version, 5.10.0.

Still, I get the same fail though...

[2018-09-26 13:30] 0xc0170 commented on #137
[code]

[code]

Using mbed-cli 1.8.2 (I also tested 1.7.5)

[2018-09-26 13:32] 0xc0170 commented on #137
You can go to mbed-os folder and use git log to check where is your HEAD (which commit it points to) or use mbed-cli to update for you

[2018-09-26 14:29] ciarmcom commented on #137
ARM Internal Ref: MBOTRIAGE-1719

[2018-09-28 12:05] Matzone77 commented on #137
Ok, so Iget the following information from git log:

[code]
So, I guess by looking at when the latest activity occured I can conclude I have the latest version, 5.10?

But why doesn't the following commands show which version I am currently working on:
[code]
or
[code]

[2018-09-28 15:48] cmonr commented on #137
Can you post the output of the failing command, and the command you're attempting to run?
Could you also share what pip list outputs?

[2018-09-29 20:37] EngSocProject commented on #132
![image](https://user-images.githubusercontent.com/33009503/46250304-af65ee00-c42f-11e8-9e50-de73a9f18dca.png)

Remove the * to fix assert error. I am not sure if thats the offical solultion but its no longer showing that error.

[2018-10-01 10:45] Matzone77 commented on #137
Here it is: (Currently I am using Mbed cli, even though the project is located in a Platform IO folder, hence the need for getting debugging in VS code to work)
[code]

[2018-10-01 13:43] theotherjimmy commented on #132
@EngSocProject Yes that's strange. I'm not sure either what the problem even is there. The header file is just trying to construct a version number. Further, if you're using uVision, you're probably using Arm Compiler 5. That section looks like it's setup for GCC.

[2018-10-01 15:59] ConradBraam commented on #132
Hi @EngSocProject , since I've also seen similar issues, I can "try" help.
1. You want to go into linker options, and turn on "Use memory layout from target dialog", and make sure you have debugging info turned off.
But you will get stuck again on running out of flash/RAM anyway, so I suspect there is an issue with the exporter, and if already familiar with Keil, you might do better mileage creati

[2018-10-09 00:14] cmonr commented on #137
Interesting. Will try and look at this tomorrow.

Inside of Arch Linux, all of the following commands worked fine for me:
[code]

Some thoughts:
 - Why did you have to climb a directory to reference the profile?
 - If you're using an mbed-os directory  that isn't in the project root, have you tried symlinking the mbed-os source such that it's effectively in the project root?
 - Do you still have i

[2018-10-11 09:20] Matzone77 commented on #137
Thank you!

I finally got it working. Yes, I am using a global mbed-os folder. What solved it for me was simply to add "--source ..\mbed-os" to the export command. (Both with and without the --profile parameter works.)

I guess what confused me was the error "not supported by vscode_gcc_arm", to me it was not intuitive that the command couldn't find the correct path.

Thanks again for your dedicat

[2018-10-11 14:05] #137 closed

[2018-10-20 20:15] Kermit66 commented on #132
...same problems...
in main.cpp errore in include chain (mbed_assert.h): invalid token at start of a preprocessor expression
in mbed_assert.h line 100 and 103 error invalid token at start of a preprocessor expression
![screenshot 2](https://user-images.githubusercontent.com/398114/47260059-73fd9300-d4b4-11e8-867f-769c7aea0b93.png)
![screenshot 3](https://user-images.githubusercontent.com/398114/47

[2018-11-30 20:59] shimniok opened #146 "Compile error in online compiler, report_status.h"
Upon creating a new program within the online compiler (My target is _mbed LPC1768_), selecting the mbed-os-example-blinky, and making no changes to the example, compilation fails with the following:

`Error: Identifier "MBED_MAX_MEM_REGIONS" is undefined in "stats_report.h", Line: 45, Col: 30
`
In stats_report.h, if I comment out the following for loops that use this define, the program compiles

[2018-11-30 21:12] ciarmcom commented on #146
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-234*

[2018-11-30 21:35] cmonr commented on #146
@shimniok Thanks for the heads up.

We found out about this issue earlier today, and it led to a process review of how we manage examples during the release period.

We'll be fixing the problem tonight.

[2018-11-30 23:39] cmonr commented on #146
@shimniok Could you try importing the example again in the online compiler? The issue should now be resolved.

[2018-12-01 23:15] #146 closed

[2018-12-21 12:48] mukhia88 opened #151 "not able to run test_cmdline"
Am I missing something below? The "-vv" very_verbose mode is also not printing all the infos.
[code]
Please help me with above issue as I cannot say exactly what is the problem.
Thanks in advance!!

[2018-12-21 15:09] 0xc0170 commented on #151
It seems you want to test from the example. This is not currently supported (multiple mains collision). If you fetch only mbed-os release , you should be able to run the test.

There's an issue in mbed-cli repository for this support, I can find the tracking issue if that would help?

[2018-12-24 06:18] mukhia88 commented on #151
Hi , Thank you for the reply. I'm not able to view the below support ticket.

https://jira.arm.com/browse/MBOCUSTRIA-359

"If you fetch only mbed-os release , you should be able to run the test." --> Can you please explain me how to do this... Sorry I'm not still clear!!

[2018-12-27 16:39] cmonr commented on #151
@SeppoTakalo @OPpuolitaival Could y'all help here? This appears to be an issue with running icetea.

@mukhia88 Correct. The URL is internal only for tracking purposes.
Could you humor me and copy the mbed-os directory so that it's standalone instead of being present in a project, and rerun the command again?

[2018-12-28 06:58] mukhia88 commented on #151
@cmonr I don't know why but now I'm able to run the command after copying the ".mbed" file from the root directory to "mbed-os" folder of "mbed-os-example-blinky". Is there any reason why it worked and if there is any other solution that would still help. Below is the mbed-os directory:

.astyleignore
.astylerc
.coveragerc
.git
.gitattributes
.github
.gitignore
.mbed
.pylintrc
.travis.yml
astyle-b

[2018-12-28 08:50] OPpuolitaival commented on #151
`mbed test --icetea` is searching TEST_APPS folder from current path. If that folder founds then it can compile and run the test. Test_cmdline is very simple tests and do not test application. Test application code https://github.com/ARMmbed/mbed-os/blob/master/TEST_APPS/device/exampleapp/main.cpp and test script https://github.com/ARMmbed/mbed-os/blob/master/TEST_APPS/testcases/example/test_cmdli

[2018-12-28 17:35] cmonr commented on #151
@mukhia88 This problem sounds familiar.

A related issue was logged in mbed-os back when `icetea` was introduced: https://github.com/ARMmbed/mbed-os/issues/8064

If memory serves, `mbed-cli`'s behavior is to move to the project's root before running commands. I think copying the `.mbed` file _tricks_ mbed-cli to thinking that the `mbed-os` directory is the project root instead of mbed-os-example-b

[2018-12-31 09:58] SeppoTakalo commented on #151
Is there now difference on behaviour of `mbed test --greentea` and `mbed test --icetea` and if so, this has to be fixed.

If Icetea tests are limited to be running in `mbed-os` root folder, then the tool should take care of switching the directory to that, before trying the tests.

[2019-01-03 13:43] mukhia88 commented on #151
@OPpuolitaival is there any BLE example applications which runs on handler mode? I see most of there are in thread mode and I'm not able to do much from icetea test cases available. I wanted to write some icetea test cases and run on BLE example sample applications but not able to do so. I took the applications from below location:
https://github.com/ARMmbed/mbed-os-example-ble

@cmonr i saw the t

[2019-01-04 12:06] OPpuolitaival commented on #151
@donatieng can you answer to the ble question?

[2019-01-04 15:40] deepikabhavnani opened #153 "Default baudrate - 115200"
Why is default baud rate for blinky set as 115200? In mbed-os we have default for serial as 9600

[2019-01-04 16:09] cmonr commented on #153
@kegilbert

[2019-01-04 16:33] ciarmcom commented on #153
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-385*

[2019-01-04 16:51] kegilbert commented on #153
I set it higher due to the high amount of serial output causing a noticeable delay lag due to the simple reporting method (printf's after the wait call in main rather than in their own reporting thread). It also provided an introduction to the Mbed OS config system. I'm open to alternatives if you think it adds more confusion than anything else for new users.

[2019-01-04 16:55] deepikabhavnani commented on #153
Should we print all stats just once, instead in loop or once for every 100 blink operations?
Just thinking of options, no strong preference

[2019-01-04 21:01] kegilbert commented on #153
Reducing the print rate would probably be good, it's a bit fast as is.

[2019-01-04 23:10] deepikabhavnani commented on #153
See if https://github.com/ARMmbed/mbed-os-example-blinky/pull/155 is acceptable

[2019-01-06 02:12] dorduran commented on #132
Similar issue also appears on "Eclipse-GCC-ARM" exports as well. The build ends up with;
"/mbed_config.h: No such file or directory"

Looks like mbed's export process has the issue. Aperrently mbed Continuous Integration framework does not check if the export process generates an error/warning free build.

[2019-01-08 15:43] pan- commented on #151
@mukhia88 Could you clarify what your issue is ?
AFAIK all the examples _runs_ in handler mode. When an event in the thread worlds needs attention, it is passed to the event queue that process them in handler mode.

[2019-01-08 15:46] paul-szczepanek-arm commented on #151
@mukhia88 about the BLE examples: all supported examples are in that repo so the answer is no

[2019-01-10 10:12] mukhia88 commented on #151
@pan- I want to write an icetea testcase where I will be able to issue a command like connect or disconnect to the example application through the script. Right now like you said all the applications are running in thread mode where it connects and disconnects automatically after the .bin is flashed to the board. Is there a way where I can issue a connect command to the application and receive the

[2019-03-03 04:20] zhiyong80 commented on #132
Just ran into this issue as well. The weird thing is, two of my newly exported projects were working totally fine, then all of a sudden, after diner, when I resumed work, both of them started to have this issue.

[2019-03-04 09:26] ConradBraam commented on #132
The original issue was that the exported Keil project file had errors in it, and so one needs to separate case of the file paths being hard-coded at export-time from other cases of missing files which may have a cause other than the exporter. @zhiyong80 If you di find how this went wrong as a separate cause, please do raise a fresh issue.

As noted, in this thread, its not just Keil exports, the s

[2019-03-04 12:24] Navis-Raven commented on #132
@ConradBraam
Hi, I don't use Keil µV5 (or ARM mbed online compiler) because of these problems I had. I've uninstalled Keil µV5 since then. I've switched to VSCode with platformIO. So unfortunately I can't help you for the tests. If you want to test a solution you just have to repeat the protocol

[2019-03-04 15:19] zhiyong80 commented on #132
@ConradBraam you are right there was indeed something else. I deleted a very old bin file on mbed drive thinking of it was not needed because I was downloading code from Keil anyway. That turned out to be the cause of my problem which was downloaded code didn't run after downloading.
Regarding the issue of this thread, I did and still do see the error, but that seems not to affect building nor bui

[2019-03-20 15:23] coisme opened #167 "[Mbed OS 5.12.0 OoB] RAM size is too big when compiled with ARM Compiler 6"
This issue is related to Mbed OS 5.12.0 OoB campaign.

When this example program is compiled with ARM, the result binary RAM size is too large compared to other compiler, i.e. GCC_ARM or IAR.

Environment
[code]

[code]

Here're the results:
ARM Compiler 6 + K64F and bare-metal option
[code]
ARM Compiler 6 + K64F (no bare-metal option)
[code]

GCC_ARM + K64F (bare-metal)
[code]

GCC_ARM + K64F (no

[2019-03-20 21:31] ciarmcom commented on #167
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1036*

[2019-03-20 22:11] cmonr commented on #167
@coisme Mind providing us with what "too big" means in this context?

What is the right size? Can you provide the output when using the other two compilers to more easily comare the two?

[2019-03-21 15:22] coisme commented on #167
@cmonr Hi, I added GCC_ARM and IAR results.

[2019-03-21 16:54] adbridge commented on #167
@coisme You haven't provided the bare metal options for the other compilers ? (only the no bare metal ones)

[2019-03-22 05:11] coisme commented on #167
@adbridge Sorry, I added those information in the first comment.

[2019-03-22 14:47] bulislaw commented on #167
`Total Static RAM memory (data + bss): 197864(+197864) bytes`

I guess static RAM usage is a bit excessive. Can someone investigate why this `| anon$$obj.o      |       32(+32) |   0(+0) | 196752(+196752) |` is being pulled in?

http://infocenter.arm.com/help/topic/com.arm.doc.100070_0612_00_en/pge1362066061445.html

@theotherjimmy @SenRamakri could you guys have a look what's going on?

[2019-03-22 14:53] 0xc0170 commented on #167
Are we using base platform model? I dont see any flags in the profiles that would confirm.

[2019-03-22 16:18] bulislaw commented on #167
¯\_(ツ)_/¯ I don't think we do, but I can't find any occurrence of the `anon$$obj.o` in ARMC manuals.

[2019-03-22 16:30] theotherjimmy commented on #167
@bulislaw I think that is the heap, and `anon$$obj.o` may be the name that memap gives all regions it does not recognise

[2019-03-22 17:18] bulislaw commented on #167
Ah! Good point that would make sense. I still don't like how it's accounted there, but at least it's not critical issue...

[2019-03-25 16:01] iriark01 commented on #167
Ashok mentioned this requires a docs note. Can anyone supply that?

[2019-03-25 18:11] SenRamakri commented on #167
@ashok-rao @iriark01 - I have discussed this with @bulislaw and @adbridge we think this need not go into  known issues, as we think its not an issue really. Its according to the current implementation/design. For ARM toolchain we current create a section for heap in scatter files and thats why its ges accounted for in Anonymous objects. See here please - https://github.com/ARMmbed/mbed-os/blob/mas

[2019-05-27 08:14] Kabron287 commented on #132
Project HSP_RPC_GUI for MAX32620. Mbeg creates a huge single   string include record (about 2.5kB) for Keil include paths. Obviously, compiler could not handle it and that results in many "file not found" errors.
If manually recreate all include records one record per include it works.

[2019-05-27 09:34] Kabron287 commented on #132
Mbed sets incorrect include paths:
`;/HSP;/HSP/Devices;/HSP/Devices/BMP280;/HSP/Devices/BMP280/BMP280;/HSP/Devices/HspLed;/HSP/Devices/HspLed/HspLed;/HSP/Devices/LIS2DH;/HSP/Devices/LIS2DH/LIS2DH;/HSP/Devices/MAX14720;/HSP/Devices/MAX14720/MAX14720;/HSP/Devices/MAX30001;/HSP/Devices/MAX30001/MAX30001;/HSP/Devices/MAX30101;/HSP/Devices/MAX30101/MAX30101;/HSP/Devices/MAX30205;/HSP/Devices/MAX30205/M

[2019-05-27 09:52] 0xc0170 commented on #132
@Kabron287 Thanks for sharing. What is difference in the above? I see only  `.\` added  ? I recall we used to have it but was refactored (shorten paths, not needed).

What is "one record" in uvision project file?

[2019-05-27 10:03] Kabron287 commented on #132
**@Martin**
I do not know what the difference. I am quite satisfied that it works.
And with mbed notation, even attempt to edit this record causes Keil crash.
"One record" means the following
![Paths](https://user-images.githubusercontent.com/2493191/58412581-6e39e280-807f-11e9-89d7-013c7a0d3af1.jpg)

[2019-05-27 14:58] Kabron287 commented on #132
So, the fast solution is:
1. Copy the whole include path string from the **C/C++** tab to clipboard(RightMouseClick Select All, Copy)
2. Paste the sting into editor
3. in Editor Ctrl+H search for **;/** replace to **;.\** Copy string back to clipboard
4. Paste clipboard content back in the **C/C++** tab
5. Enjoy

[2019-05-27 15:14] 0xc0170 commented on #132
@Kabron287 Can you report this to Mbed OS repository, this is useful. I haven't seen this error yet, so would like to step-by-step how to reproduce and fix as above. Tools team will review

[2019-05-28 05:56] Kabron287 commented on #132
I did it.

[2019-05-30 15:58] linlingao commented on #151
It seems the original issue is about "mbed test". It then morphed into a question about BLE application.

[2019-05-30 18:34] linlingao commented on #132
Looks like @Kabron287 opened this one:
https://github.com/ARMmbed/mbed-os/issues/10682

I'll be closing this issue as a duplicate. We'll track it under mbed-os issue.

[2019-05-31 08:53] #132 closed

[2019-06-04 13:31] 0xc0170 commented on #151
I am closing this, if there are questions about BLE/testing, it should be done in support forums or Mbed OS repository.

[2019-06-04 13:31] #151 closed

[2019-08-14 11:19] 0xc0170 commented on #167
I believe this issue can be closed as noted above. If this comes up again, we should rereview this one.

[2019-08-14 11:19] #167 closed

[2019-09-12 20:41] kfezer opened #188 "Issue using "mbed import" after installing mbed CLI"
Getting an error:
~/workspace $ mbed import mbed-os-example-blinky
[mbed] Working path "/Users/******/workspace" (program)
[mbed] ERROR: Cannot import program in the specified location "/Users/*****/workspace/mbed-os-example-blinky" because it's already part of a program "workspace".
       Please change your working directory to a different location or use "mbed add" to import the URL as a librar

[2019-09-12 21:12] kfezer opened #190 "ARM compiler not installed by installing mbed CLI"
Getting this error:
[code]

[2019-09-13 14:14] 0xc0170 commented on #190
you want to use ARMC5 or ARMC6 ? Looks like it is trying to get ARMC5. How are you path set for compilers , in this case ARM? is it visible in paths or using mbed cli to config it to different location?

[2019-09-16 11:48] 0xc0170 commented on #188
How to reproduce this error?

`[mbed] Program path "/Users//workspace"` - this does not look OK.

[2019-10-01 07:33] 0xc0170 commented on #190
I am closing this due to inactivity.

[2019-10-01 07:33] #190 closed

[2019-10-01 07:34] 0xc0170 commented on #188
Closing due to inactivity.

[2019-10-01 07:34] #188 closed

[2019-10-22 07:40] JojoS62 opened #195 "the .gitignore file is outdated"
the .gitignore file contains historical path names, it should contain
[code]

this should be checked in other examples too.

[2019-10-22 07:54] 0xc0170 commented on #195
Thanks for raising this , we shall update all examples

[2019-10-22 07:57] 0xc0170 commented on #195
This would be my proposal:

[code]

[2019-10-22 11:52] ciarmcom commented on #195
*Internal Jira reference: https://jira.arm.com/browse/IOTCORE-1403*

[2019-10-31 21:19] ciarmcom commented on #134
Thank you for raising this issue. Please note we have updated our policies and
 now only defects should be raised directly in GitHub. Going forward questions and
 enhancements will be considered in our forums, https://forums.mbed.com/ . If this
 issue is still relevant please re-raise it there.
 This GitHub issue will now be closed.

[2019-10-31 21:19] ciarmcom commented on #195
Thank you for raising this issue. Please note we have updated our policies and
 now only defects should be raised directly in GitHub. Going forward questions and
 enhancements will be considered in our forums, https://forums.mbed.com/ . If this
 issue is still relevant please re-raise it there.
 This GitHub issue will now be closed.

[2019-10-31 21:21] Navis-Raven commented on #134
@0xc0170  what's new about this bug ?

[2019-11-01 12:46] adbridge commented on #195
Apologies, this was closed in error by the automated bot - re-opening.

[2019-11-01 12:47] adbridge commented on #134
Apologies, this was closed in error by the automated bot - re-opening.

[2019-11-01 12:48] #195 closed

[2019-11-01 12:48] #134 closed

[2019-11-01 15:53] janjongboom commented on #134
For anyone running into this issue, https://github.com/janjongboom/mbed-vscode-generator generates vscode templates that do not require make.

[2019-11-01 15:56] Navis-Raven commented on #134
@janjongboom  personnall I used platformIO

But this bug must be solved for any newcommer that doesn't know how to manage these problems.

[2019-11-01 15:57] Navis-Raven commented on #134
@adbridge  the automated bot closed it again...

[2019-12-04 04:50] coisme opened #201 "[OoB 5.15] Cannot clone the repository using the given command"
This issue is related to Mbed OS 5.15 OoB campaign.

When I tried importing project with this command given in README
[code]
I got this error
[code]

This happens both macOS Catalina and Windows 10.
(macOS)
[code]
(Windows)
[code]

Do I need any setting before clone the repository?

I can import the same repository with this command given in README
[code]

[2019-12-04 13:14] ciarmcom commented on #201
*Internal Jira reference: https://jira.arm.com/browse/IOTCORE-1455*

[2019-12-04 13:32] 0xc0170 commented on #201
@coisme One is using ssh another one https. For ssh (the first case), you don't have ssh agent running (I assume).

We should check other examples, github recommends using https (a user can always use ssh, easy to switch).

[2019-12-04 13:33] adbridge commented on #201
@coisme https://help.github.com/en/github/authenticating-to-github/connecting-to-github-with-ssh this should be of help

[2019-12-05 03:19] coisme commented on #201
Hi @0xc0170 and @adbridge Thank you for your information. I followed **Generating a new SSH key and adding it to the ssh-agent** in the above link. Then the command ran successfully.
[code]
If we keep the first command, it is better to mention this SSH stuff.

[2019-12-05 11:17] adbridge commented on #201
@coisme Glad that helped. As this is pretty much Git 101 I don't think it's something we should necessarily be adding to our READMEs .....I will close this now then.

[2019-12-05 11:17] #201 closed

[2020-09-23 20:27] JaMinsane opened #239 "ThisThread::sleep_for(var) issue"
When I imported the source code into mbedOS online compiler and then tried to compile. I got this error:

**Error: No matching literal operator for call to 'operator""ms' with argument of type 'unsigned long long' or 'const char *', and no matching literal operator template in "main.cpp", Line: 20, Col: 31**

I didn't change anything but It can't compile.

**main.cpp**

[code]

[2020-09-24 05:27] ciarmcom commented on #239
Thank you for raising this detailed GitHub issue. I am now notifying our internal issue triagers.
*Internal Jira reference: https://jira.arm.com/browse/IOTCORE-1723*

[2020-09-27 21:24] symeonmattes opened #240 "Ignoring hidapi: markers 'platform_system != "Linux"' don't match your environment"
Hi,

I'm running the command
`mbed compile -m EP_AGORA -t GCC_ARM --flash`

and I receive:
[code]
Then I run
`sudo pip install -r mbed-os/requirements.txt`

and I receive:

[code]
I'm running python3, pip3 on

[code]

[2020-09-28 05:27] ciarmcom commented on #240
Thank you for raising this detailed GitHub issue. I am now notifying our internal issue triagers.
*Internal Jira reference: https://jira.arm.com/browse/IOTCORE-1724*

[2020-09-28 10:18] symeonmattes commented on #240
I have managed to do the following:

`sudo pip install -U -r requirements.txt`

This installed the missing modules idna, cryptography, but not six. Then from requirments.txt I saw that "six==1.12.0" So I run

`sudo pip install 'six==1.12.0' --ignore-installed`

The ignore-installed was necessary otherwise I couldn't install it. Now what I receive with

`mbed compile -m EP_AGORA -t GCC_ARM --flash`

[2020-09-28 12:05] symeonmattes commented on #240
Ok...finally I've managed to make it work:

I downloaded the [gcc compiler](https://developer.arm.com/tools-and-software/open-source-software/developer-tools/gnu-toolchain/gnu-rm/downloads) and I configured it by running:

mbed config --global GCC_ARM_PATH <path>/gcc-arm-none-eabi-9-2019-q4-major/bin

Please fix also your documentation to include these commands as well because it took a while to u

[2020-10-01 14:10] ciarmcom commented on #239
Thank you for raising this detailed GitHub issue. I am now notifying our internal issue triagers.
*Internal Jira reference: https://jira.arm.com/browse/IOTOSM-2045*

[2020-10-01 14:10] ciarmcom commented on #240
Thank you for raising this detailed GitHub issue. I am now notifying our internal issue triagers.
*Internal Jira reference: https://jira.arm.com/browse/IOTOSM-2046*

[2020-10-02 09:24] evedon commented on #240
Hi @symeonmattes,
Glad that you managed to install mbed cli and got the program to work. We do have documentation https://os.mbed.com/docs/mbed-os/v6.3/build-tools/install-and-set-up.html but I agree that the link is not easy to find.

[2020-10-02 09:31] evedon commented on #240
@iriark01 Could you look into replacing https://os.mbed.com/docs/mbed-os/v6.3/quick-start/build-with-mbed-cli.html with https://os.mbed.com/docs/mbed-os/v6.3/build-tools/install-and-set-up.html as the quick start guide does not provide information to configure compiler location?

[2020-10-02 11:14] iriark01 commented on #240
Do you still need to configure it when you use an installer?

[2020-10-15 01:29] mbzhu1 commented on #239
I got the same error, but it compiled for me when I removed the "ms" from the `BLINKING_RATE`
Changed: ```#define BLINKING_RATE     500ms```  to ```#define BLINKING_RATE     500```

[2020-10-19 14:45] adbridge opened #242 "Test issue checking new issue template"
### Description of defect

Dummy issue

#### Target(s) affected by this defect ?

n/a

#### Toolchain(s) (name and version) displaying this defect ?

n/a

#### What version of Mbed-os are you using (tag or sha) ?

n/a

#### What version(s) of tools are you using. List all that apply (E.g. mbed-cli)

n/a

#### How is this defect reproduced ?

n/a

[2020-10-19 14:45] adbridge commented on #242
Yey all worked correctly

[2020-10-19 14:45] #242 closed

[2020-11-27 19:29] rajkan01 commented on #239
Hi James,
Thanks for reporting the issue.
This issue caused by `mbed import mbed-os-example-blinky` command which gets invoked at the time of importing the source code into `mbedOS online compiler`, import command is importing an old version of `mbed-os-5.15.4` instead of the latest released version. As the Chrono C++ functionality of passing Chrono duration like `time with ms (500ms)` suffix supp

[2020-12-16 12:59] evedon commented on #239
I will close this as I believe your question was answered.

[2020-12-16 12:59] #239 closed

[2021-01-20 12:19] pablogs9 opened #252 "Error building this example for DISCO_L475VG_IOT01A"
I follow these steps:

[code]

With version:

[code]

And I get:
[code]

[2021-01-20 12:47] ciarmcom commented on #252
@pablogs9 This issue has an incomplete or old issue template.For future reference please use an up to date clone of the repository before raising issues. Many thanks.

[2021-01-20 12:47] ciarmcom commented on #252
Thank you for raising this detailed GitHub issue. I am now notifying our internal issue triagers.
*Internal Jira reference: https://jira.arm.com/browse/IOTOSM-3285*

[2021-01-26 12:04] evedon commented on #252
Hi, I am not able to reproduce the issue. I am also using Mbed CLI `1.10.5`
Which versions of the example and mbed-os are you using? You can find out by running `mbed ls`.
You should see:
[code]

[2021-01-26 12:15] pablogs9 commented on #252
Solved, I have re-ran in a clean environment and it works. Sorry and thanks.

[2021-01-26 12:15] #252 closed

[2021-02-16 14:01] tartavull commented on #252
I'm facing the exact same compilation problem. I deleted the BUILD folder but the problem persists.
Have you done any additional cleanup @pablogs9 ?

[2021-04-23 02:32] ccu1tn commented on #252
Hello @pablogs9 ;
 I am importing the embed from this link: mbed import https://github.com/ARMmbed/mbed-os-example-blinky
But it appears this error.
![image](https://user-images.githubusercontent.com/43333942/115809663-1f3d8900-a41f-11eb-92d5-9c5ce84e2d1e.png)

Do you know how to fix it?
Please help me! Many thanks

[2021-04-26 13:20] 0xc0170 commented on #252
@ccu1tn This is unrelated to this issue. Create a new issue with more detail information (run -v to get an error, where it comes from).

[2021-06-11 19:07] pearson opened #263 "a"

[2021-06-14 09:21] 0xc0170 commented on #263
I'll close as no description and title provided.

[2021-06-14 09:21] #263 closed

[2021-06-14 09:22] 0xc0170 commented on #240
Closing as it has not been updated since the last year.

[2021-06-14 09:22] #240 closed

[2021-06-14 10:08] symeonmattes commented on #240
Hi,

Sorry for my late reply, as I didn't notice the comment. Just in case somebody else has the same issue, actually it's a conflict of the pip library. I tried different things such as:

`pip install -r mbed-os/requirements.txt`

The idea is to uninstall the packages i.e.

`
pip uninstall six, idna, cryptography
`
and then use this

`pip install -r mbed-os/requirements.txt`

[2021-06-14 17:34] pearson commented on #263
My apologies. I'm not sure how this issue was created...

[2021-09-18 07:01] toyowata opened #271 "Blinky program doesn't blink on some target boards"
### Description of defect

LED is not blinking on some target boards.
Recently, following code has been added in this example code.

[code]

The `#ifdef` detective doesn't recognize typedefed LED1 symbol, so LED doesn't blink for some target boards such as NXP LPC1768, Renesas, Nordic, Maxim and other target board which declare LED symbol as typedef.

Typical decleration for typedef is as below.

[2021-09-18 07:15] ciarmcom commented on #271
Thank you for raising this detailed GitHub issue. I am now notifying our internal issue triagers.
*Internal Jira reference: https://jira.arm.com/browse/IOTOSM-4310*

[2021-11-01 07:17] multiplemonomials commented on #252
I think this issue might be a bug with the Ubuntu package manager version of arm-none-eabi-gcc: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=953844

[2021-11-01 10:35] mianqi2016 opened #274 "[Error] ws_pae_time.c@174,103: expected ')' before 'PRIi64'"
I tried to compile the Blinky example by Mbed CLI, while it was prompted:
https://ibb.co/FhtfkFr

I have already used "sudo pip install -r requirements.txt":
https://ibb.co/NnJfF1T
https://ibb.co/1G8LPFW

After I ran "sudo pip install -U -r requirements.txt" in directory "mbed-os", it was prompted a python module "future" was missing, before I ran "sudo pip install -U -r requirements.txt", it was